body {
    margin: 0;
    text-align: center;
    font-family: sans-serif;
}

#heading {
    margin: 80px auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 6.225rem;
    color: rgb(41, 29, 212);
}

#sub-heading {
    font-family: 'Press Start 2P', cursive;
    margin: 0;
    font-weight: 500;
    font-size: 1.5rem;
    color: rgb(29, 160, 212);
}

.top-container {
    background-color: #e4fbff;
    width: 100%;
    min-height: 600px;
    margin: 0;
    padding-top: 6.0rem;
    position: relative;
    overflow:hidden;
}

.highway {
    position: relative;
    display: inline-block;
    width: 100%;
    opacity: 0.7;
    top: 50px;
}

.top-cloud,
.top-corner-cloud,
.bottom-cloud {
    width: 8.5rem;
    height: 5rem;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
}

.top-corner-cloud {
    position: absolute;
    left: -40px;
    top: -20px; 
    transform: rotate(-10deg) 
}

.bottom-cloud {
    position: absolute;
    left: 300px;
    top: 150px;
}

.DeLorian {
    position: absolute;
    width: 41.625rem;
    height: 41.25rem;
    top: 310px;
    left: 56.5%;
    opacity: 0.9;
    transform: rotateX(-65deg);
}

.profile {
    padding-top: 40px;
    font-family: 'Montserrat', sans-serif;
}

#welcome-message {
    font-weight: 600;
    color:rgb(6, 90, 41);
}

.inner {
    width: 50%;
    margin: 0 auto;
    line-height: 2;
    text-align: justify;
}

.profile img {
    width: 200px;
    height: 200px;
}

.skill-row {
    width: 50%;
    margin: 0 auto;
    text-align: left;
    line-height: 2;
    margin: 40px auto;
    align-items: center;
    justify-content: center;
    text-align: justify;
}

.skills h2,
.contact-me h2 {
    font-size: 30px;
    font-weight: 700;
    color:rgb(6, 90, 41)
}

.skill-row h3,
.contact-me h3 {
    font-weight: 600;
    font-size: 20px;
    color:#11db65;
    margin-bottom: 60px;
}

hr {
    border-style: none;
    border-top-style: dotted;
    width: 5%;
    border-color: #40514E;
    font-size: 150px;
    border-width: 10px;
    opacity: 0.6;
}

.react-img,
.css-img,
.html-img {
    width: 20%;
    height: 120px;
    border-radius: 100%;
}

.html-img,
.react-img {
    float: left;
    margin-right: 30px;
}

.css-img {
    float: right;
    margin-left: 30px;
}

.html {
    width: 200px;
    height: 200px;  
}

.contact-me p {
    margin: -20px auto 50px auto;
}
.btn {
    background: #012704;
    background-image: -webkit-linear-gradient(top, #012704, #29e610);
    background-image: -moz-linear-gradient(top, #012704, #29e610);
    background-image: -ms-linear-gradient(top, #012704, #29e610);
    background-image: -o-linear-gradient(top, #012704, #29e610);
    background-image: linear-gradient(to bottom, #012704, #29e610);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #079431;
    background-image: -webkit-linear-gradient(top, #079431, #8bf870);
    background-image: -moz-linear-gradient(top, #079431, #8bf870);
    background-image: -ms-linear-gradient(top, #079431, #8bf870);
    background-image: -o-linear-gradient(top, #079431, #8bf870);
    background-image: linear-gradient(to bottom, #079431, #8bf870);
    text-decoration: none;
  }

  .bottom-container {
    background: rgb(179,238,174);
    background: radial-gradient(circle, rgba(179,238,174,1) 0%, rgba(148,187,233,1) 100%);
    padding: 30px 0 10px;
    margin-top: 30px;
  }

  .copyright {
    color: #1b3a1c;
    font-size: 0.80rem;
    padding: 20px 0;
    font-weight: 500;
}

.footer-link {
    text-decoration: none;
    color: #079431;
    font-size: 20px;
    padding-left: 20px;
    font-weight: 600;
}

.footer-link:hover {
    color:#11db65;
}
